<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand" >DIRISA - UJHonours_Team255</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
    <!-- <div class="navbar-nav mx-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Provinces
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    </div> -->
  </div>
</nav>



<!-- The first section-->
<div class="container-fluid">
  <div class="row">
    <app-ProPie></app-ProPie>

    <app-consume-pie></app-consume-pie>  
  </div>
</div>

<br>
<!-- The second section -->
      <app-bar-risk ></app-bar-risk>
<br>

<!-- The Third Section -->
<div class="jumbotron">
    <h1 style="text-align:center;" class="h2"> Predictions </h1>
</div>
<form class="container" (ngSubmit)=OnPredict() #RegisterF="ngForm">
  <div class="container form-content">

    <!-- Level of Education -->
    <div class="form-group">
      <label> What is your level of studies? </label>
      <br>
      <select name="LevelEducation" ngModel #Chicken="ngModel">
        <!-- High school some undergrad comp undergrad some master comp master some phd comp phd some high school -->
        <option value="IncHS">High School (Incomplete)</option>
        <option value="CompHS">High School (Complete)</option>
        <option value="IncUndergrad">Undergraduate (Incomplete</option>
        <option value="CompUndergrad">Undergraduate (Complete)</option>
        <option value="IncMasters">Masters (Incomplete)</option>
        <option value="CompMasters">Masters (Complete)</option>
        <option value="IncPHD">PHD (Incomplete)</option>
        <option value="CompPHD">PHD (Complete)</option>
      </select>
    </div>
    
    <!-- Legally Disabled -->
    <div class="form-group">
      <label> Are you disabled? </label>
      <div class="form-control">
         <input id="NotDisabled" type="radio" class="custom-control-input" value="NotDisabled" name="Disabled" ngModel>
         <label class="custom-control-label" for="NotDisabled">Abled</label>
      </div>  
      <div class="form-control">
         <input id="Disabled" type="radio" class="custom-control-input" value="Disabled" name="Disabled" ngModel>
         <label class="custom-control-label" for="Disabled">Disabled</label>
      </div>
    </div>

    <!-- Age Group -->
    <div class="form-group">
        <label> Age Group </label>
        <br>
        <select name="AgeGroup" ngModel #AgeGroup="ngModel">
          <!-- High school some undergrad comp undergrad some master comp master some phd comp phd some high school -->
          <option value="1">18-29 years</option>
          <option value="2">30-44 years</option>
          <option value="3">45-60 years</option>
          <option value="4">Above 60 years</option>
        </select>
      </div>

    <!-- Gender -->
    <div class="form-group">
        <label> Sex </label>      
        <div class="form-control">
           <input id="Male" type="radio" class="custom-control-input" value="Male" name="Gender" ngModel>
           <label class="custom-control-label" for="Male">Male</label>
        </div>  
        <div class="form-control">
           <input id="Female" type="radio" class="custom-control-input" value="Female" name="Gender" ngModel>
           <label class="custom-control-label" for="Female">Female</label>
        </div>
    </div>

    <!-- Yearly Income -->
    <div class="form-group">
        <label> Yearly Income </label>      
        <br>
        <!-- INCOMPLETE FINISH THIS STUFF LINK IT TO THE TS -->
        <input id="Income" type="number" name="iIncome" [(ngModel)]="Income">
    </div>

    <!-- Mobile Phones -->
    <div class="form-group">
        <label> Do you own a phone? </label>      
        <div class="form-control">
           <input id="YesPhone" type="radio" class="custom-control-input" value="Yes" name="Mobile" ngModel>
           <label class="custom-control-label" for="YesPhone">Yes</label>
        </div>  
        <div class="form-control">
           <input id="NoPhone" type="radio" class="custom-control-input" value="No" name="Mobile" ngModel>
           <label class="custom-control-label" for="NoPhone">No</label>
        </div>
    </div>

    <!-- Hospitalized -->
    <div class="form-group">
        <label> have you been Hospitalized </label>      
        <div class="form-control">
           <input id="YesHospital" type="radio" class="custom-control-input" value="Yes" name="Hospital" ngModel>
           <label class="custom-control-label" for="YesHospital">Yes</label>
        </div>  
        <div class="form-control">
           <input id="NoHospital" type="radio" class="custom-control-input" value="No" name="Hospital" ngModel>
           <label class="custom-control-label" for="NoHospital">No</label>
        </div>
    </div>
  </div>
  <button type="submit" class="btn-primary btn"> Predict </button>

</form>
<br>

<div class="container">
  <table class="table">
    <tr class="row">
        <th class="col"> Naive Bayes </th>
        <th class="col"> Support Vector Machines</th>
        <th class="col"> Random Forest</th>
    </tr>
    <tr class="row">
      <td class="mx-auto" colspan=2> <strong> Predictions </strong> </td>
    </tr>
    <tr class="row">
        
        <td class="col"><strong> {{ NB }} </strong></td>
        <td class="col"><strong> {{ SVM }} </strong></td>
        <td class="col"><strong> {{ RF }} </strong></td>
    </tr>
    <tr class="row">
        <td class="mx-auto" colspan=2> <strong> Percentage </strong> </td>
      </tr>
    <tr class="row">
        <td class="col"><strong> {{ PercNB}} </strong></td>
        <td class="col"><strong> {{ PercSVM }} </strong></td>
        <td class="col"><strong> {{ PercRF }} </strong></td>
    </tr>
  </table>
</div>
